WA_TEST_FRONTEND_PORT=3000
WA_TEST_RESULTS_PORT=8090
WA_TEST_SEQMETA_PORT=8091
WA_RESULTS_BACKEND_URL=http://localhost:8090
WA_SEQMETA_BACKEND_URL=
WA_STUDIES_CACHE_TTL_SECONDS=300
WA_RESULTS_DB_PATH=./dev.db
SAGA_API_TOKEN=
SAGA_BASE_URL=